{
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "printWidth": 80,
    "semi": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "endOfLine": "auto"
}